*{
    margin:0;
    padding: 0;
}
li{
    list-style: none;
    text-align: center;
}
html{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}

/*屏幕小于800px的使用该样式,所有详情信息展示,如果小于则只展示图标*/
@media screen  and (min-width: 800px){
    div.inner1{
    width: 20vw;
    height: 100vh;
    background: #213963;
    }
div.inner1 ul,div.inner2 ul{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    }
div.inner2{
    width: 8vw;
    height: 100vh;
    background: #213963;
}

div.navbar{
    display: flex;/*flex布局*/
    flex-wrap: nowrap;/*不换行*/
    align-items: center;/*在垂直方向居中对齐*/
    height: 10vh;
    width: 80vw;
    background: #3ba2e1;
    position: fixed;
    top: 0;
    right: 0;
    }
/*导航条左侧为一个li,有边距为2em*/
div.navbar li.left_nav{
    margin-right: 2em;
}
/*再导航条右侧，设置登录，注册等选项卡*/
div.navbar div.right_nav{
    position: absolute;
    right:0;
}
div.show{
        width: 80vw;
        height: 90vh;
        background: #ec971f;
        position: fixed;
        right: 0;
        bottom: 0;
    }

/*这是收起图标点击*/
div.turn_in{
    position: absolute;
    right: 80vw;
    top: 0;
    z-index: 999;
    }
/*悬浮效果为透明度较低*/
div.turn_out:hover,div.turn_in:hover{
    opacity: 0.3;
}

/*这是弹出图标事件*/
div.turn_out{
    position: absolute;
    right: 92vw;
    top: 0;
    z-index: 999;
}
}

/*屏幕宽度小于800ox的机器使用*/
@media screen  and (max-width: 800px){

}