/*左边信息栏,如果再屏幕小的时候直接隐藏*/

/*撑满页面*/
html,div.login_body{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

body{
    background:url("/static/img/login_img.jpg");
}

div.login_body{
    /*设置flex布局*/
    display: flex;
}
/*小于,等于800px的屏幕*/

@media  screen and (max-width:800px){
    div.login_form{
        font-size: 1.05em;
        margin: 0 auto;
        transform: translateY(100%);
        width: 80vw;
        text-align: center;
    }
    label{
        color: #6dfcff;
    }
    form{
        padding: 50px 0 50px 0;
        background: url("/static/img/login_form.jpg");
        opacity: 0.78;
    }
    /*设置login_form里的下两个input输入框的圆角*/
    form div input{
        border-radius: 2em;
        background: #9beafe;
    }
    /*设置跳过登录放到最右下角*/
    form span{
        position: relative;
        float: right;
        bottom: -50px;
    }
    /*登录框内的登录按钮样式*/
    div.login_form form button{
        margin: 0.3em 0.5em;
        border-radius: 2em;
        width: 4rem;
        color: #2e6da4;
        background: #6eff51;
    }
    /*登录框里的字号不需要太大*/
    div.login_form form a,span{
        font-size: 0.7em;
    }
}

/*屏幕宽大于801,小于*/
@media  screen and (min-width:800px) {
    div.login_form{
        font-size: 1.3em;
        margin: 0 auto;
        transform: translateY(100%);
        width: 80vw;
        text-align: center;
    }
    label{
        color: #6dfcff;
    }
    form{
        padding: 50px 0 50px 0;
        background: url("/static/img/login_form.jpg");
        opacity: 0.78;
    }
    /*设置login_form里的下两个input输入框的圆角*/
    form div input{
        border-radius: 2em;
        background: #9beafe;
        font-size: 1.2em;
    }
    /*设置跳过登录放到最右下角*/
    form span{
        position: relative;
        float: right;
        bottom: -50px;
    }
    /*登录框内的登录按钮样式*/
    div.login_form form button{
        margin: 0.3em 0.5em;
        border-radius: 2em;
        width: 4rem;
        color: #2e6da4;
        background: #6eff51;
    }
    /*登录框里的字号不需要太大*/
    div.login_form form a,span{
        font-size: 0.8em;
    }
}











