<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-heighth,initial-scale=1.0">
    <script type="text/javascript" src="/static/vue.js"></script>
</head>
<style>
    body{
        background: #d7dff0;
    }
    h4{
        text-align: center;
        font-weight: bold;
    }
</style>
<body>
<div class="blog">
{# 展示单页博客内容,后续还需要设置分页加载功能 #}
    <div class="show_blogs" v-show="show_all">
    {% if blogs  %}
            {% for i in blogs %}
            <h4><a href="/blog/show_blog/title={{ i.title }}">{{ i.title }}</a></h4>
            <p>{{ i.text | safe |truncatechars:180 }}</p>
        {% endfor %}
    {% else %}
        <h3>暂无该分类博客，去看看其他的吧！</h3>
    {% endif %}
    </div>

</div>

{#<script>#}
{#    var myapp=new Vue({#}
{#        el:".blog",#}
{#        delimiters:['{[', ']}'],#}
{#        data:{#}
{#            show_detail:false,#}
{#            show_all:true#}
{#        },#}
{#        methods:{#}
{#           to_detail:function (title) {#}
{#               console.log(this);#}
{#                this.show_all=!this.show_all;#}
{#               this.show_detail=!this.show_detail;#}
{#           }#}
{#        },#}
{#    })#}
{#</script>#}

</body>
</html>