<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>--首页--</title>
    <meta name="viewport" content="height=device-heighth,initial-scale=1.0">
    <link rel="stylesheet" href="../static/myweb/index.css">
    <script type="text/javascript" src="/static/vue.js"></script>
</head>
<body id="body">


{#这边作为左边边栏目,显示一些选项卡#}
{#此处样式应为大于800px时,就显示全部信息,小于该数值就仅仅保留一个图标#}
<div class="app">
<div class="inner1" v-show="is_show_1" >
    <ul>
        <li @click="add_watch('Header')"><a href="javascript:void(0)"> 大头像</a></li>
        <li @click="add_watch('主页')"><a href="javascript:void(0)">主页</a></li>
        <li @click="add_watch('爬虫')"><a href="javascript:void(0)">爬虫</a></li>
        <li @click="add_watch('算法')"><a href="javascript:void(0)">算法</a></li>
        <li @click="add_watch('前端')"><a href="javascript:void(0)">前端</a></li>
        <li @click="add_watch('Django')"><a href="javascript:void(0)">Django</a></li>
        <li @click="add_watch('学校')"><a href="javascript:void(0)">大学</a></li>
        <li @click="add_watch('旅游')"><a href="javascript:void(0)">旅游</a></li>
        <li @click="add_watch('宠物')"><a href="javascript:void(0)">宠物</a></li>
        <li @click="add_watch('爱情')"><a href="javascript:void(0)">爱情</a></li>
    </ul>
</div>

<div class="inner2" v-show="is_show_2">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="turn_out"  @click="turn_out" v-show="is_show_2"><img class="turn_out" src="/static/img/右移.png" alt=""></div>
<div class="turn_in"  @click="turn_in" v-show="is_show_1"><img class="turn_in" src="/static/img/左移.png" alt=""></div>
<div class="navbar">
{# 这里为一个导航栏,固定在顶部,如果点击了事项,则会在此开启一个页面#}
        <li v-for="item,key in last_watch"><a href="javascript:void(0)" @click="change_watch(item)">{[item]}</a></li>
</div>

{#这里作为主要显示区,用于显示操作界面#}
<div class="show">
{#如果长度为0,即空数组时展示首页,点击那个页面后执行那个页面#}
    <iframe v-if="last_watch.length" :src=`/blog/show_blog/name=${watching}` frameborder="0" width="100%" height="100%" ></iframe>
    <iframe v-else src="/blog/show_blog/name=主页" frameborder="0" width="100%" height="100%" >
    </iframe>
</div>
{#脚注内容#}
<div class="footer">

</div>
</div>

<script type="text/javascript">
    var myapp=new Vue({
        delimiters:['{[', ']}'],
        el:".app",
        data:{
            {#默认展示1,隐藏2#}
            is_show_1:true,
            is_show_2:false,
            last_watch:[],
            watching:"",
        },
        methods:{
            {#点击收起侧边栏,仅仅保留一部分#}
            turn_in:function () {
                this.is_show_1= !this.is_show_1;
                this.is_show_2= !this.is_show_2;
                console.log("触发收起事件");
                this.$el.getElementsByClassName("navbar")[0].style.width="92vw";
                this.$el.getElementsByClassName("show")[0].style.width="92vw";
            },
            {#点击弹出侧边栏,#}
            turn_out:function () {
                this.is_show_1= !this.is_show_1;
                this.is_show_2= !this.is_show_2;
                console.log("触发弹出事件");
                this.$el.getElementsByClassName("navbar")[0].style.width="80vw";
                this.$el.getElementsByClassName("show")[0].style.width="80vw";
            },
            {#这是处理最近点击选项卡的函数#}
            add_watch:function(name){
               {# 如果已经在last_watch里则不改变,但最理想状态为,点击的放在最左边#}
               if (!this.last_watch.includes(name)){
                  {# 如果该值未存在则添加进来#}
                  this.last_watch.push(name);
                  this.watching=name
               }
               else{
               {#已经存在则删除,在最后位置添加进去#}
                   for (var i=0;i<this.last_watch.length;i++){
                       if (name == this.last_watch[i]){
                       {#有相同的值#}
                           this.last_watch.splice(i,1)
                       }
                   }
                    this.last_watch.push(name);
                    this.watching=name
               }

            },
            change_watch:function(change_name){
                this.watching=change_name
            }
        },
    });
</script>

{#<script>#}
{#    此处为ajax#}
{#    var request=new XMLHttpRequest();#}
{#    request.open("GET","/static/左移.png");#}
{#    request.send();#}
{#    document.getElementById("body").style.display="none";#}
{#    alert("发送成功")#}
{#}#}
{##}
{#</script>#}
</body>
</html>