<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/vue.js"></script>
    <link rel="stylesheet" href="/static/home_blog.css">
</head>
<body>
<div id="app">
{#用三张图片放在这里做展示图，图片3秒更换一次，要有动画效果#}
    <div class=" show_picture show_picture0" v-show="show[0]">
       <p>按热度排行的十篇文章</p>
    </div>

    <div class="show_picture show_picture1" v-show="show[1]">
        <p>近三天比较多观看的五篇文章</p>
    </div>

    <div class="show_picture show_picture2" v-show="show[2]">
        <p>按时间排行观看的文章</p>
    </div>
</div>

<script type="text/javascript">
    var myvue=new Vue({
        el:"#app",
        data:{
            i:0,
            show:[true,false,false]
        },
        methods:{
            change_picture:function () {
                var show_what=this.i%3;
                this.i++;
                for (j = 0; j < 3; j++) {
                    if(show_what==j){
                        this.show.splice(show_what,1,true)}
                    else{this.show[j]=false}
                }
                this.show
            }
        },
        {#在渲染时定义这个计时器#}
        created(){
            setInterval(this.change_picture,5000);
        }
    })
</script>
</body>
</html>